<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.com"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Reference</th>
        <th>Designation</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${listpdts.getId()}"></td>
        <td th:text="${listpdts.getDescription()}"></td>
        <td th:text="${listpdts.getPrice()}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>